
html {
  background-color: rgba(6,12,6,255)
}

body{
  font-family: "Sofia", sans-serif;
}

.container{
  width: 300px;
}

header{
  position: relative;
}

img {
  width: 300px;
}

.logo-text{
  position: absolute;
  top: 8px;
  color: white;
  font-size: 100px;
  text-align: right;
  line-height: 90px;
}

.small-logo-text{
  font-size: 93px
}

.credit{
  font-family: sans-serif;
  text-align: right;
  font-size: small;
  color: grey;
}

.credit > a{
  color: white;
}

.credit > a:visited{
  color: grey;
}

input{
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  width: 15rem;
}

/* .form-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

.title {
  font-size: 35px;
  color: white;
  text-align: center;
}