

html {
  background-color: rgba(6,12,6,255)
}

body{
  font-family: "Sofia", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo,
.signup-form{
  width: 300px;
}

img {
  width: 300px;
}

.logo{
  position: relative;
}

.logo-text{
  position: absolute;
  top: 8px;
  color: white;;
  font-size: 100px;
  line-height: 90px;
}

.small-logo-text{
  font-size: 93px
}

.credit{
  font-family: sans-serif;
  text-align: right;
  font-size: small;
  color: grey;
}

.credit > a{
  color: white;
}

.credit > a:visited{
  color: grey;
}

input{
  border: unset;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
}

.form-title {
  margin: 20px;
  font-size: 50px;
  color: white;
  text-align: center;
}

/* .sign-up-form {
  margin: calc((300px - 18rem)/2)
} */

.form-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .form-row{
  display: flex;
  gap: 10px;
} */

@media screen and (min-width: 740px) {
  .container{
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: normal;
    margin-top: 10%;
  }
  .logo-text{
    text-align: right;
  }
}